<div class="jumbotron">
  <h1>Plato</h1>
  <p>Bring your ideas out of the cave!</p>
  <a class="btn btn-lg btn-success" href="#" role="button">Register</a>
  <a class="btn btn-lg btn-success" href="#" role="button">Login</a>
  <a class="btn btn-lg btn-success" href="#" role="button">Login with Github</a>
</div>