<div class="jumbotron">
  <h1>Plato</h1>
  <p>Bring your ideas out of the cave!</p>
  <%= link_to 'Register', new_user_path, :class => 'btn btn-lg btn-success' %>
  <%= link_to 'Login', new_user_session_path, :class => 'btn btn-lg btn-success' %>
  <%= link_to 'Login with Github', 'oauth/github', :class => 'btn btn-lg btn-success' %>
</div>